Needs header and footer and some styling

<div class="form-container">
  <h2>Find Cell Tower Location</h2>
  <form (ngSubmit)="findLocation()" #cellForm="ngForm">
    <label>
      MCC:
      <input type="number" required [(ngModel)]="cellInfo.mcc" name="mcc" />
    </label>
    <br/>
    <label>
      MNC:
      <input type="number" required [(ngModel)]="cellInfo.mnc" name="mnc" />
    </label>
    <br />
    <label>
      LAC:
      <input type="number" required [(ngModel)]="cellInfo.lac" name="lac" />
    </label>
    <br />
    <label>
      CID:
      <input type="number" required [(ngModel)]="cellInfo.cid" name="cid" />
    </label>
    <br /><br />
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngIf="location.lat > 0" style="margin-top: 20px;">
  <h3>Location Found</h3>
  <p>Latitude: {{ location?.lat }}</p>
  <p>Longitude: {{ location?.lng }}</p>

  <google-map
    height="500px"
    width="80%"
    [center]="center"
    (mapClick)="moveMap($event)"
    [zoom]="3">
    <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"></map-marker>
  </google-map>
</div>
